<h3>Edit Recipe</h3>
<form #f="ngForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="title">Title</label>
    <input  type="text"
            id="title"
            [(ngModel)]="changedRecipe.title"
            required
            name="title"
            placeholder="Title">
  </div>
    <div>
    <label for="ingredients">Ingredients</label>
    <textarea 
            id="ingredients"
            [(ngModel)]="changedRecipe.ingredients"
            rows="5"
            cols="60"
            label="ingredients"
            required
            name="ingredients"
            placeholder="Ingredients"></textarea>
  </div>
  <div>
    <label for="directions">Directions</label>
    <textarea
            id="directions"
            [(ngModel)]="changedRecipe.directions"
            rows="5"
            cols="60"
            label="directions"
            required
            name="servings"
            placeholder="Directions"></textarea>
  </div>
  <div>
    <label for="image">Image</label>
    <input  type="text"
            id="image"
            [(ngModel)]="changedRecipe.image"
            required
            name="image"
            placeholder="url">
      <img class="details-image" src="{{changedRecipe.image}}">
  </div>
  <div>
    <button [disabled]="!f.valid" type="submit">
      Submit
    </button>
  </div>

</form>