<h2>Index</h2>
<h3>
  Appetizers:
</h3>
<div *ngFor="let recipe of recipes">
  <div *ngIf="recipe.category=='app'" (click)="selectedFromIndex(recipe)" [routerLink]="['/recipes', recipe.id]">
    <img src="{{recipe.image}}" class="indexImage">
    {{recipe.title}}
  </div>
</div>
<h3>
  Entrees:
</h3>
<div *ngFor="let recipe of recipes">
  <div *ngIf="recipe.category=='entree'" (click)="selectedFromIndex(recipe)" [routerLink]="['/recipes', recipe.id]">
    <img src="{{recipe.image}}" class="indexImage">
    {{recipe.title}}
  </div>
</div>
<h3>
  Desserts:
</h3>
<div *ngFor="let recipe of recipes">
  <div *ngIf="recipe.category=='dessert'" (click)="selectedFromIndex(recipe)" [routerLink]="['/recipes', recipe.id]">
    <img src="{{recipe.image}}" class="indexImage">
    {{recipe.title}}
  </div>
</div>
