html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #666;
  background-color: #fff;
  font-size: 2vw; }

.main-container {
  display: grid;
  min-height: 100%;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "title title title" ". bodyOutlet ." "footer footer footer"; }

.content-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 3vh; }

.main-header {
  grid-area: title;
  text-align: right;
  background-color: #ddd;
  border-bottom: 1px solid #666;
  color: #ff7e1a;
  padding: 0.4em;
  margin: 0;
  margin-bottom: 2vh;
  font-size: 3rem;
  font-weight: bolder; }

.main-body {
  grid-area: bodyOutlet;
  background-color: #fff; }

.main-footer {
  grid-area: footer;
  font-size: 1.4rem;
  font-weight: bolder;
  text-align: right;
  background-color: #ddd;
  border-top: 1px solid #666;
  color: #ff7e1a;
  padding: 0.3rem;
  margin: 0;
  margin-top: 2vw; }

.btn {
  background-color: #666;
  color: #fff;
  border: 1px solid #ddd; }
  .btn:hover {
    background-color: #474747; }
  .btn:focus {
    box-shadow: none; }

.add-btn-container {
  border: none;
  background-image: none;
  background-color: none;
  text-align: right;
  margin-bottom: 2vh;
  height: 7vw; }

.add-btn {
  background-color: #ddd;
  border-radius: 50%;
  padding: 0.8vw;
  margin: auto;
  margin-right: 2vh;
  height: 6.5vw;
  width: 6.5vw; }
  .add-btn:hover {
    background-color: #b7b7b7; }

.plus-sign {
  max-height: 100%;
  margin: 0; }

.index-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-row-gap: 3vh;
  grid-column-gap: 2vh; }

.index-image-container {
  height: 35vw;
  width: 35vw;
  background-size: cover;
  border: 0.5vw solid rgba(80, 80, 80, 0.85);
  border-radius: 2px;
  display: grid;
  align-items: end;
  justify-items: center; }
  .index-image-container:hover {
    box-shadow: inset 0 0 0 35vw rgba(100, 100, 100, 0.25); }

.index-title-container {
  background-color: rgba(80, 80, 80, 0.85);
  border-radius: 2px;
  width: 96%;
  height: 7vw;
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 0.3vh;
  display: grid;
  align-items: center;
  justify-items: center; }

.content-outlet {
  width: 80vw; }

.placeholder-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center; }

.placeholder {
  display: block;
  background-color: #c4c4c4;
  color: #fff;
  border: 6px double #fff;
  border-radius: 2px;
  font-size: 1rem;
  font-weight: bold;
  padding: 2rem;
  margin: 5vw auto 2vw auto;
  text-align: center;
  width: 70%; }

.details-display {
  width: 80vw;
  font-size: larger; }
  .details-display h4, .details-display h5 {
    font-weight: bold; }

.details-image {
  max-width: 80%; }

label {
  display: block;
  text-align: left;
  font-weight: bolder; }

@media screen and (min-width: 470px) {
  .index-main-container {
    grid-template-columns: 1fr 1fr 1fr; }

  .index-image-container {
    height: 28vw;
    width: 28vw;
    border: 0.3vw solid rgba(80, 80, 80, 0.85); }
    .index-image-container:hover {
      box-shadow: inset 0 0 0 22vw rgba(100, 100, 100, 0.25); }

  .index-title-container {
    height: 6vw;
    font-size: 0.8rem;
    margin-bottom: 0.35vh; } }
@media screen and (min-width: 736px) {
  .content-container {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3vh;
    justify-items: center; }

  .index-main-container {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-row-gap: 2vh;
    grid-column-gap: 2vh; }

  .index-image-container {
    height: 22vw;
    width: 22vw;
    border: 0.3vw solid rgba(80, 80, 80, 0.85); }
    .index-image-container:hover {
      box-shadow: inset 0 0 0 22vw rgba(100, 100, 100, 0.25); }

  .index-title-container {
    height: 5vw;
    font-size: 0.8rem;
    margin-bottom: 0.35vh; }

  .content-outlet {
    width: 40vw; }

  .details-display {
    width: 40vw;
    font-size: smaller; }

  .details-image {
    max-width: 80%; }

  .main-header {
    border-bottom: 1.5px solid #666;
    padding: 0.3em;
    margin: 0;
    margin-bottom: 2vh;
    font-size: 2rem;
    font-weight: bolder; }

  .main-footer {
    font-size: 1rem;
    font-weight: bolder;
    border-top: 1.5px solid #666;
    padding: 0.2rem; }

  .recipe-form {
    font-size: smaller; }

  .placeholder {
    margin-top: 5vw; } }
@media screen and (min-width: 1000px) {
  .index-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-row-gap: 2vh;
    grid-column-gap: 2vh; }

  .index-image-container {
    height: 15vw;
    width: 15vw;
    background-size: cover;
    border: 0.2vw solid rgba(80, 80, 80, 0.85);
    border-radius: 2px;
    display: grid;
    align-items: end;
    justify-items: center; }
    .index-image-container:hover {
      box-shadow: inset 0 0 0 20vw rgba(100, 100, 100, 0.25); }

  .index-title-container {
    background-color: rgba(80, 80, 80, 0.85);
    border-radius: 2px;
    width: 96%;
    height: 3.5vw;
    color: #fff;
    font-size: 0.6rem;
    margin-bottom: 0.3vh;
    display: grid;
    align-items: center;
    justify-items: center; }

  .details-image {
    width: 35vw; }

  .main-header {
    border-bottom: 1.5px solid #666;
    padding: 0.3em;
    margin: 0;
    margin-bottom: 2vh;
    font-size: 2rem;
    font-weight: bolder; }

  .main-footer {
    font-size: 1rem;
    font-weight: bolder;
    border-top: 1.5px solid #666;
    padding: 0.2rem; } }

/*# sourceMappingURL=styles.css.map */
